body{
    background-color: black;
    color: white;
    font-family: Helvetica,Arial, sans-serif;
    box-sizing: border-box;
    margin: 0 10%;
}

h1{
    text-align: center;
    font-family: 'Whisper', cursive;
    font-size: 100px;
    background-color: grey;
}

h2{
    text-align: center;
    font-family: Kalnia;
    font-size:50px;
}

td{
    border:solid white 1px;
    text-align: center;
}

thead{
    font-size: 30px;
    font-family: kalnia;
    background-color: grey;
}

table{
    max-width: 1000px;
    margin: auto;
    border: 2px white dotted;
    padding: 20px;
}

.inline{
    height: 20px;
    border: 0;
}